# DataFrames

1. Two Dimensional (2D)
2. Heteregenous Tabular Data structures

## 1. Creating a DataFrame

In [ ]:
import pandas as pd

In [ ]:
# Initialize a list
names = ['Tshepo', 'Jack', 'Thabang', 'Vincent']

In [ ]:
df = pd.DataFrame(names)
df

In [ ]:
# Initialize a dictionary
data = {'names': ['Tshepo', 'Jack', 'Thabang', 'Vincent'],
        'Game Played': ['CoD 2019', 'Fortnite', 'PES', 'FIFA'],
        'Hours Played': [2, 4, 1, 7]}

In [ ]:
df = pd.DataFrame(data)
df

## 2. Slicing a DataFrame

In [ ]:
df['names'] == 'Tshepo'

In [ ]:
df[df['names'] == 'Tshepo']

In [ ]:
df[df['Hours Played'] > 2]

In [ ]:
df[df['Hours Played'] >= 2]

In [ ]:
df[df['Hours Played'] != 2]

## 3. Merge/ Concatenate DataFrames

In [ ]:
df_1 = df.drop('Hours Played', axis=1)
df_1

In [ ]:
hours = {'names': ['Tshepo', 'Jack', 'Thabang', 'Vincent'],
    'Hours Played': [2, 4, 1, 7]}
df_2 = pd.DataFrame(hours)
df_2

### 3.1 Merge

In [ ]:
df_3 = pd.merge(df_1, df_2, how='left', on='names')
df_3

## 3.2 Concatenate
* Vertical
* Horizontal

### 3.2.1 Vertical Concat

In [ ]:
df_3 = pd.concat([df_1, df_2])
df_3

In [ ]:
more_data =  {'names': ['Kenny'],'Game Played': ['CoD 2019' ], 'Hours Played': [10]}
another_df = pd.DataFrame(more_data)
another_df

In [ ]:
master_df = df.append(another_df)
master_df

## 4. Missing Data

In [ ]:
new_data = {'names': ['Richard', 'Vince', 'Fred', 'Matt'],
        'Game Played': ['FIFA', 'Fortnite', 'FIFA', None],
        'Hours Played': [2, None, 1, 7]}

new_data = pd.DataFrame(new_data)
new_data

In [ ]:
master_df = df.append(new_data)
master_df = master_df.reset_index().drop('index', axis=1)
master_df

### 4.1 Shortgun Approach

In [ ]:
master_df.dropna()

### 4.2 Mean Approach

In [ ]:
master_df.fillna(master_df.mean(), inplace=True)
master_df

In [ ]:
master_df['Game Played'] = master_df['Game Played'].fillna('FIFA')
master_df

# 5. Aggregate Data

In [ ]:
game_stats = master_df.groupby('Game Played')['Hours Played'].agg(['count', 'mean', 'sum'])
game_stats