## Funtions 

1. Arguments (Inputs)
2. Instructions (Operations)
3. Output

## Function 1: No Arguments

In [14]:
def alert():
    print ("Stop Here!")

In [15]:
alert()

Stop Here!

## Function 2: 1 Argument

In [16]:
def square_number(number):
    result = number ** 2
    return (result)

In [17]:
square_number(8)

64

In [18]:
def square_number_2(number):
    return (number ** 2)

In [19]:
square_number_2(8)

64

## Function 3: Multiple Arguments

In [20]:
def calculate_percent(numerator, demoninator):
    percent = (numerator/demoninator) * 100
    return (percent)

In [21]:
calculate_percent(80, 120)

66.66666666666666

In [22]:
def calculate_percent(numerator, demoninator):
    return ((numerator/demoninator) * 100)

## Function 4: Lambda

In [24]:
f = lambda number: number*2

In [25]:
f(2)

4

In [26]:
percent = lambda x, y: x/y*100

In [27]:
percent(80, 120)

66.66666666666666

## Apply Functions on DataFrames

In [28]:
import pandas as pd

In [29]:
# Initialize a dictionary
data = {'names': ['Tshepo', 'Jack', 'Thabang', 'Vincent', 'Kenny'],
        'Game Played': ['CoD 2019', 'Fortnite', 'PES', 'FIFA', 'CoD 2019'],
        'Hours Played': [2, 4, 1, 7, 10]}

In [30]:
df = pd.DataFrame(data)
df

     names Game Played  Hours Played
0   Tshepo    CoD 2019             2
1     Jack    Fortnite             4
2  Thabang         PES             1
3  Vincent        FIFA             7
4    Kenny    CoD 2019            10

In [31]:
def above_avg(hour):
    if hour > df['Hours Played'].mean():
        return ('Above Average')
    else:
        return ('Below Average')

In [32]:
df['Avg Player'] = df['Hours Played'].apply(above_avg)

In [33]:
df

     names Game Played  Hours Played     Avg Player
0   Tshepo    CoD 2019             2  Below Average
1     Jack    Fortnite             4  Below Average
2  Thabang         PES             1  Below Average
3  Vincent        FIFA             7  Above Average
4    Kenny    CoD 2019            10  Above Average